
const {
  ChannelType,
  PermissionFlagsBits
} = require("discord.js");

module.exports = client => {
  client.on("interactionCreate", async interaction => {

    if (interaction.isChatInputCommand()) {
      const command = client.commands.get(interaction.commandName);
      if (command) await command.execute(interaction);
    }

    if (interaction.isStringSelectMenu() && interaction.customId === "ticket_menu") {
      const STAFF = process.env.STAFF_ROLES.split(",");
      const CATEGORY = process.env.TICKET_CATEGORY_ID;

      const name = `ticket-${interaction.user.username}`;

      const perms = [
        { id: interaction.guild.id, deny: [PermissionFlagsBits.ViewChannel] },
        { id: interaction.user.id, allow: [PermissionFlagsBits.ViewChannel] }
      ];

      STAFF.forEach(r => {
        perms.push({ id: r, allow: [PermissionFlagsBits.ViewChannel] });
      });

      const channel = await interaction.guild.channels.create({
        name,
        parent: CATEGORY,
        type: ChannelType.GuildText,
        permissionOverwrites: perms
      });

      await interaction.reply({
        content: `Ticket açıldı: ${channel}`,
        ephemeral: true
      });

      channel.send(`🎫 Hoş geldin ${interaction.user}`);
    }

  });
};
